<p>editor dashboard</p>
<div class="container-main">
    <div class="container-element">
        <button mat-button (click)="productCategoryCreate()">Create product category</button>
        <button mat-button (click)="productCategoryList()">Update product category</button>
    </div>
    <div class="container-element">
        <button mat-button (click)="productInformationCreate()">Create product information</button>
        <button mat-button (click)="productInformationList()">Update product information</button>
    </div>
    <div class="container-element">
        <button mat-button (click)="productCreate()">Create product</button>
        <button mat-button (click)="productList()">Update product</button>
    <div>
</div>