<div class="main-outlet-container">
    <mat-form-field appearance="legacy">
        <mat-label>Id:</mat-label>
        <input matInput placeholder="" [(ngModel)] = "productCategory.idEntity" readonly>
    </mat-form-field>
            
    <mat-form-field appearance="legacy">
        <mat-label>Category name:</mat-label>
        <input matInput placeholder="Enter product category name" [(ngModel)] = "productCategory.categoryName">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Description:</mat-label>
        <textarea matInput placeholder="Enter product category description" [(ngModel)] = "productCategory.description"></textarea>
    </mat-form-field>
           
    <button mat-button (click)="productCategorySave(productCategory)">{{buttonSaveText}}</button>
    
    {{productCategoryMessage}}

</div>
    
