# HomeWork 1 Files

HomeWork/Lab4HomeWork/.vs
HomeWork/Lab4HomeWork/Lab4HomeWork.sln
HomeWork/Lab4HomeWork/Lab4HomeWork/bin
HomeWork/Lab4HomeWork/Lab4HomeWork/obj
HomeWork/Lab4HomeWork/Lab4HomeWork/Properties
HomeWork/Lab4HomeWork/Lab4HomeWork/App.config
HomeWork/Lab4HomeWork/Lab4HomeWork/Lab4HomeWork.csproj

# HomeWork 2

HomeWork2/Task1
HomeWork2










