<div class="main-container">
    
    <mat-form-field appearance="legacy">
        <mat-label>Order date:</mat-label>
        <input matInput placeholder="Order date" [(ngModel)] = "orderInformation.dateOrder" readonly>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Order address:</mat-label>
        <textarea matInput placeholder="Order address" [(ngModel)] = "orderInformation.address"></textarea>
    </mat-form-field>

    <div *ngFor = "let item of orderInformation.products">
        <div class="container-card-item">
            <button class="card-item-action" mat-button (click)="showProduct(item)"> show </button>
            <button class="card-item-action" *ngIf="enableChangeOrder" mat-button (click)="deleteProduct(item)"> delete </button>
            Product price: {{item.price}}, Product name: {{item.productInformation.productName}}
        </div>
    </div>

    <div class="container-status">
        <mat-form-field appearance="legacy">
            <mat-label>Order status:</mat-label>
            <mat-select [(value)]="orderInformation.orderStatus"> 
                <mat-option *ngFor = "let item of allOrderStatus" [(value)]="item">{{getStatusPrint(item)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field appearance="legacy">
        <mat-label>User name:</mat-label>
        <textarea matInput placeholder="Name" [(ngModel)] = "orderInformation.userSystemData.firstName+' '+orderInformation.userSystemData.lastName" readonly></textarea>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Phone:</mat-label>
        <textarea matInput placeholder="Phone" [(ngModel)] = "orderInformation.userSystemData.phone" readonly></textarea>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Email:</mat-label>
        <textarea matInput placeholder="Email" [(ngModel)] = "orderInformation.userSystemData.email" readonly></textarea>
    </mat-form-field>




<button mat-button *ngIf="enableChangeOrder" (click)="orderSave()">{{buttonSaveText}}</button>

{{orderMessage}}



</div>





