<p>test works!</p>
<div>{{testMessage}}</div>
<div><button (click)="productCategoryCreate()">productCategoryCreate</button></div> 
<div><button (click)="productCategoryUpdate()">productCategoryUpdate</button></div> 
<div><button (click)="productCategoryList()">productCategoryList</button></div> 
<div><button (click)="productInformationCreate()">productInformationCreate</button></div> 
<div><button (click)="productInformationUpdate()">productInformationUpdate</button></div> 
<div><button (click)="productInformationList()">productInformationList</button></div> 
<div><button (click)="productCreate()">productCreate</button></div> 
<div><button (click)="productUpdate()">productUpdate</button></div> 
<div><button (click)="productShowInformation()">productShowInformation</button></div> 
<div><button (click)="productListChange()">productListChange</button></div> 
<div><button (click)="productListSelect()">productListSelect</button></div> 
<div><button (click)="productListCart()">productListCart</button></div> 




