<p>admin dashboard</p>
<div class="container-main">
<div class="container-element">
    <button mat-button (click)="orderShowAll()">Show all orders</button>
    <button mat-button (click)="ordersShowFilter()">Search orders</button>
</div>
<div class="container-element">
    <button mat-button (click)="userCreateNew()">Create new user</button>
    <button mat-button (click)="usersShowAll()">Show all users</button>
</div> 
</div> 
<div>
    <app-editor-dashboard></app-editor-dashboard>
</div>







